* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
}

#controls {
    padding-left: 25mm;
    padding-right: 25mm;
    display: flex;
    align-items: center;
}

#counter {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

span {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#output {
    min-width: 100%;
    min-height: 100vh;
    padding: 0 15mm 0 15mm;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* change the margins as you want them to be. */
}

/*every second row gray*/
#output table tr:nth-child(odd) {
    background-color: #f0f0f0 !important;
}

#output table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
}

.col0 {
    text-align: center;
    width: 10%;
    font-size: 1rem;
}

.col1 {
    text-align: left;
    width: 45%;
}

.col2 {
    text-align: center;
}

.col3 {
    text-align: right;
    width: 45%;
}

.col1,
.col3 {
    font-weight: bold;
}

td {
    padding: 5px;
}

input,
button {
    font-size: 1.1rem;
    padding: 5px;
    margin: 5px;
}

@media print {
    body {
        visibility: hidden;
    }
    #output {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
    }
}
